ul#menu li {
    display:inline;
    color: black!important;
    font-size: 14px;
    font-weight: 500;
  }
ul li{
  list-style: none;
  line-height: 25px;
}
  .btn-group {
    border: none;
    .dropdown{
      margin: 0px !important;
      
    }
  }  
  .select1{
    width: 180px;
    border-radius:5px ;
    padding: 10px 18px;
border:none;
font-size: 12px;
  }
  .form-control {
    border: 1px solid #e0e2e8;
    border-radius: 5px;
    padding: 18px 18px;
    font-size: 12px!important;
 }
 .form-group{
     margin-bottom: 8px;
 }
 input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}
.date{
  border: none;
}
button.calendar, button.calendar:active {
  width: 2.75rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
  
}
.border{
  border: none!important;
}
#vat{
    width:180px !important;
    margin-top:-8px;
}