<div class="row grid-margin no-gutters" style="box-shadow: 0 0 2px #dcdce9;">
    <div class="col-lg-4"  >

      <div class="card" style="background-color: #e6ecfa;"> 
        <ul id="menu" class="mt-3">
            <li class="ml-2 mr-5 text-muted" style="font-size: 23px;"><i class="mdi mdi-chevron-left text-muted"></i> </li>
            <li class="ml-5" style="color: black;">NEW EXPENSE</li>
            <li><a href="#"></a></li>
          </ul>
         
        <div class="p-2" style="height:529px" >
          <form #studentForm="ngForm" (ngSubmit)="studentForm.form.valid ">
            <div class="row">
              
                <div class="col-md-1"></div>
                <div class="col-md-3"><small class="text-left p-1">Title</small></div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" id="title" name="title" placeholder="Expense"
                            class="form-control form_color" [(ngModel)]="ServiceData.title"
                            #invoice="ngModel" [(ngModel)]="name"
                            [ngClass]="{'is-invalid': studentForm.submitted && title.invalid}"
                            required />
                        <div class="invalid-feedback" *ngIf="studentForm.submitted && title.invalid">
                            <div *ngIf="title.errors.required">University Name is Required
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="row">
              
                <div class="col-md-1"></div>
                <div class="col-md-3"><small class="text-left">Category</small></div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <select class="select1" placeholder="Select" [(ngModel)]="ServiceData.category" #category="ngModel" name="category" > 
                            
                            <option  >TDS</option>
                            <option>GST Charges</option>
                            <option>Bank Account Open Charges</option>
                            <option>Courier Charges</option>
                            <option>DD/Bid Document Charges</option>
                            <option>Portal</option>
                            <option>Electricity</option>
                            <option>Employee Reimbursements</option>
                            <option>HouseKeeping</option>
                            <option>Hardware</option>
                            <option>Internet Charges</option>
                            <option>Landline Charges</option>
                            <option>Office day to day maintenance</option>
                            <option>Office Furniture</option>
                            <option>Office Rent</option>
                            <option>Printing Charges</option>
                            <option>Stationery</option>
                            <option>Travelling Expenses</option>
                            <option>Water Bill</option>
                            <option>Client Meeting Expenses</option>
                            
                        </select>
                        <div class="invalid-feedback" *ngIf="studentForm.submitted && Category.invalid">
                            <div *ngIf="Catogory.errors.required">Category Required
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
            
            <div class="row">
              
                <div class="col-md-1"></div>
                <div class="col-md-3"><small class="text-left p-1">Created</small></div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group" >
                            <input class="form-control" placeholder="yyyy-mm-dd" 
                                   name="dp1" [(ngModel)]="ServiceData.created" ngbDatepicker [footerTemplate]="footerTemplate1" placeholder="{{currentDate | date:'yyyy-MM-dd'}}" #d1="ngbDatepicker" style="border:0px">
                            <div class="input-group-append">
                              <button class="btn btn-sm calendar" (click)="d1.toggle()" type="button" style="border:0px"></button>
                            </div>
                          </div>
                        <!-- <input type="text" id="Created" name="Created" placeholder="Created"
                            class="form-control form_color" [(ngModel)]="ServiceData.created"
                            #invoice="ngModel" [(ngModel)]="name"
                            [ngClass]="{'is-invalid': studentForm.submitted && Category.invalid}"
                            required /> -->
                        <div class="invalid-feedback" *ngIf="studentForm.submitted && created.invalid">
                            
                        </div>
                    </div>
                </div>
            </div>  
            
            
                  

            <div class="row mt-2">
                <!--Category Name-->
                <div class="col-md-1"></div>
                <div class="col-md-3"><small class="text-left p-1">VAT(%)</small></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="number" id="vat" name="vat"  
                            class="form-control" [(ngModel)]="ServiceData.vat" 
                            #vat="ngModel" (keyup)="getName(i)"
                            [ngClass]="{'is-invalid': studentForm.submitted && vat.invalid}"
                            required />
                        <div class="invalid-feedback" *ngIf="studentForm.submitted && vat.invalid">
                            <div *ngIf="vat.errors.required">VAT is Required
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            
            
            <div class="row mt-2">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="form-group">
                    <p style="font-weight: 500;font-size: 14px;">COMMENTS/NOTES </p>
                        
                        <textarea type="text" id="comments" name="comments" placeholder="COMMENTS"
                            class="form-control form_color" [(ngModel)]="ServiceData.comments"
                            #comments="ngModel" [(ngModel)]="name8"
                            [ngClass]="{'is-invalid': studentForm.submitted && comments.invalid}" required ></textarea>
                        <div class="invalid-feedback" *ngIf="studentForm.submitted && comments.invalid">
                            <div *ngIf="comments.errors.required">comments is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>

            </div>
            <div class="row mt-2">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="form-group">
                    <p style="font-weight: 500;font-size: 14px;">PAYMENT METHOD </p>
                        
                        <textarea type="text" id="payment" name="paymentbank" placeholder="PAYMENTMETHOD"
                            class="form-control form_color" [(ngModel)]="ServiceData.paymentbank"
                            #paymentbank="ngModel"
                            [ngClass]="{'is-invalid': studentForm.submitted && paymentbank.invalid}" required ></textarea>
                        <div class="invalid-feedback" *ngIf="studentForm.submitted && paymentbank.invalid">
                            <div *ngIf="paymentbank.errors.required">payment is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    
                </div>

            </div>
            <!-- <button  type="submit" class="btn btn-sm  btn-rounded"
            *ngIf="studentForm.form.valid">Next</button> -->
          </form>    
        </div>

      </div>
    </div>



    <div class="col-lg-8">
        <div class="card" style="padding: 15px;" >
            <!-- <div class="text-center">-ticket-</div>
            <div class="text-center">-expense-</div> -->

          <form #studentForm1="ngForm" (ngSubmit)="studentForm.form.valid">

            <div class="row mt-5">
                
              
              <div class="col-md-4"></div>
              <div class="col-md-6">
                <small><b>-Ticket-</b></small>
                    
                <div class="row">
                    <div class="col-md-12">
                        <small class="mt-2 text-center">-EXPENSE-:{{ServiceData.title}}</small>
                    </div>
                    <div class="col-md-8">
                        
                        <ng-template #footerTemplate1>
                          <hr class="my-0">
                          <button class="btn btn-primary btn-sm m-2 float-left" (click)="model1 = today; d.close()">Today</button>
                          <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d.close()">Close</button>
                        </ng-template>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <small class="mt-2 text-center">-Date : {{ServiceData.created.day}}-{{ServiceData.created.month}}-{{ServiceData.created.year}}</small>
                    </div>
                    <div class="col-md-8">
                        
                        <ng-template #footerTemplate>
                          <hr class="my-0">
                          <button class="btn btn-primary btn-sm m-2 float-left" (click)="model = today; d.close()">Today</button>
                          <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d.close()">Close</button>
                        </ng-template>
                    </div>
                </div>

               

              </div>
              

            </div>

            

           <div class="row p-2">
               <div class="col-4 ">
                  <small class="ml-3">Item</small>
               </div>
               <div class="col-2">
               <small class="ml-3">Unit Cost</small>
            </div>
            <div class="col-2">
             <small class="ml-3">Quantity</small>
            </div>
            <div class="col-2">
               <small class="ml-1">Price</small>
            </div>
           </div>
            <div class="row no-gutters">
                <div class="col-md-12">
                        <div class="row justify-content-center">
                          <div class="col-md-12">
                           

                            <form class="form-sample" [formGroup]="profileForm">
                                <div  formArrayName="products">
                                    <div  *ngFor="let group of getFormData.controls; let i=index">
                                        <div [formGroupName]="i">
                                            <div class="row p-1">
                                            <div class="col-4 ">
                                                <input type="text" class="form-control"  name='itemname' formControlName="itemname" placeholder="Item Name" />
                                             </div>
                                             <div class="col-2">
                                                <input type="number" class="form-control"    name='itemcost' formControlName="itemcost" (keyup)="getName(i)" placeholder="Cost"  />
                                          </div>
                                          <div class="col-2">
                                            <input type="number" class="form-control"   name='itemquan' formControlName="itemquan" (keyup)="getName(i)" placeholder="Quantity"  />
                                          </div>
                                          <div class="col-2">
                                            <input type="number" class="form-control"   name='price' formControlName="price"  (blur)="getName(i)" placeholder="Price" disabled/>
                                          </div>
                                          <div class="col-1">
                                           <a (click)="remove(i)"> <i style="color: red;cursor: pointer;" class="menu-icon mdi mdi-delete"></i></a>
                                        </div>
                                        </div>
                                         </div>
                                    </div>
                                </div>  
                                <button type="button" class="btn btn-sm ml-2" (click)="addProduct()" style="background-color:
                            #2f3e65 ;color: white;">Add row</button>
                            
                            
                            <div class="row mt-3">
                                <div class="col-md-8"> </div>
                                <div class="col-md-2">
                                    <p>Subtotal:</p>
                               </div>
                               <div class="col-md-2">
                                <input type="text" class="form-control border" (keyup)="getName(i)"  name='subtotal' formControlName="subtotal"  placeholder="subtotal"/>
    
                             </div>
                              </div>
    
                              <div class="row">
                                <div class="col-md-8"> </div>
                                <div class="col-md-2">
                                    <p>VAT(%):</p>
                               </div>
                               <div class="col-md-2">
                                <input type="text" class="form-control border" (keyup)="getName(i)"  name='vatper' formControlName="vatper"  placeholder="vatper"/>
    
                                  <hr>
                             </div>
                              </div>
    
                              <div class="row">
                                <div class="col-md-8"> </div>
                                <div class="col-md-2">
                                    <p class="font-bold">Total:</p>
                               </div>
                               <div class="col-md-2">
                                <input type="text" class="form-control border"  name='total' formControlName="total"  placeholder="total"/>
    
                             </div>
                              </div>
                            </form>
                        

                          </div>
                        </div>    
                </div>
            </div>
           
            
           
              

              
            <div class="mt-4 p-5" style="float: right;">
            <!-- <button  type="submit" class="btn btn-md"
                *ngIf="studentForm.form.invalid" style="background-color:
                #2f3e65 ;color: white;">Next</button>      asset-->
                <button  type="submit" (click)="asset()" class="btn btn-md"
                style="background-color:
                #2f3e65 ;color: white;">Save
                </button>
             </div>
            </form>
        </div>
        </div>
    
    </div>
         
