ul#menu li {
    display:inline;
    color: black!important;
    font-size: 14px;
    font-weight: 500;
  }
ul li{
  list-style: none;
  line-height: 25px;
}
  .btn-group {
    border: none;
    .dropdown{
      margin: 0px !important;
      
    }
  } 
  .select-control{
    border: 1px solid #e0e2e8;
    border-radius: 5px;
    padding: 7px 7px;
    margin-left:-34px;
    width:175px;
  } 

 .form-control {
    border: 1px solid #e0e2e8;
    border-radius: 5px;
    padding: 18px 18px;
    font-size: 12px!important;
 }
 .form-group{
     margin-bottom: 8px;
 }
 input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}
.date{
  border: none;
}
button.calendar, button.calendar:active {
  width: 2.75rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
  
}
.border{
  border: none!important;
}
.calendar{
  margin-right: -27px;
}

// toggle
.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  // height: 250px;
  top: 118px;
    right: 0;
  background-color: #11111140;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
}

.sidepanel a {
  // padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
}

.openbtn {
  // font-size: px;
  cursor: pointer;
  background-color: #2f3e65;
  color: white;
  // padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:#444;
}input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}