.tanle1 th{
    font-size: 12px;
    font-weight: 500;
}
.tanle1 tr{
    float: right;

font-size: 10px;
}
.cust li{
    font-size: 11px; 
    text-decoration: none;
    list-style: none;
}
.comp li{
    font-size: 11px; 
    text-decoration: none;
    list-style: none;
    text-align: justify;
    float: right;
}
#tableId td{
    line-height: 0;
}

.total_table td{
    border:0px !important;
}