ul#menu li {
    display:inline;
    color: black!important;
    font-size: 14px;
    font-weight: 500;
  }
ul li{
  list-style: none;
  line-height: 25px;
}
.tabler td{
  margin-bottom: 2px;
  padding: 15px;
  
}
.tabler tr{
  border-bottom: 4px solid white;
  background-color: #f8deb9;
  border-radius: 4px;
}

.tables td{
  margin-bottom: 2px;
  padding: 15px;
  background-color: #d4efdc;
}